
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* ///////////////////////////////////////////// */





html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: roboto;
}

.container {
  display: grid;
  grid-template-columns: 0.6fr 2fr 1fr;
  min-height: 100vh;

}


.sidebar {
  display: grid;
  grid-template-rows: 0.2fr minmax(0.6fr,1fr) 1fr;
  background-color: #1892d5;
  color: #ffff;
}

.logo {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  align-items: center;
  margin-left: 8px;
}

.navBox,.optionsBox {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  align-items: center;
}

.navLink, .optionsLink {
  text-decoration: none;
  color: #ffff;
  font-size: 1.2em;
  font-weight: 500;
}


 


.dashboard {
  display: grid;
  grid-column: 2/-1;
  grid-template-rows: 0fr 2fr;
}

.dashboardHeader {
  display: grid;
  grid-template-columns: 2fr 1fr;
    grid-template-rows: 0fr 0fr;
}

.headerInput {
  grid-column: 1/2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.input {
  width: 90%;
}

.headerHello {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.headerButtons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.headerProfile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboardMain {
  display: grid;
    grid-template-columns: 2fr 0.7fr;
    grid-template-rows: 10% 1fr;
    background-color: #e2e8f0;
}

.projectTitle {
  grid-column: 1;
}

.dashboardProjects {
  display: grid;
  grid-column: 1;
}

.dashboardSideTitle {
  grid-column: 2;
  grid-row: 1;
}

.dashboardSide {
  display: grid;
}




/* /////////////////////SIDEBAR////////////////////// */


.logoImg  {
    width: 90%;
  margin-right: 20px;  

   

}




.navLinkLogo ,.optionsLinkLogo {
    width: 90%;
    height: 50%;
    justify-self: center;
    align-self: center;
   
}




/* /////////////////////DASHBOARD////////////////////// */







/* ///////DASHBOARD-HEADER////// */
  

.headerIcon {
  width: 5%;
  height: 12%;
}












.dashboardIcon {
  width: 3%;
  height: 3%;
}

.profilePic {
    width: 10%;
    height: 10%;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.profilePicSmall {
      width: 5%;
    height: 10%;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}





.dashboardProjects {

}

.projectIcons {
  display: flex;
}




















